<md-tab-group *ngIf="firstrun === false">
  <md-tab *ngFor="let tab of home_dashboard_tabs">
    <template md-tab-label><strong>{{ tab.name }}</strong></template>
    <template md-tab-content>
      <h1>{{ tab.description }}</h1>
    </template>
  </md-tab>
</md-tab-group>

<div *ngIf="firstrun === true">
  <md-grid-list cols="3">
     <md-grid-tile></md-grid-tile>
     <md-grid-tile><md-card>
     <md-card-subtitle>GET STARTED</md-card-subtitle>
     <md-card-title>Welcome</md-card-title>   
     <md-card-content>
          <p>Looks like this is the first time you are configuring your anonymous web services project</p>
          <p>Click "NEW" below to get started.</p>
     </md-card-content>
     <md-card-actions>
          <button md-button>NEW PROJECT</button>
          <button md-button>HELP</button>
     </md-card-actions>
  </md-card></md-grid-tile>
     <md-grid-tile></md-grid-tile>
  </md-grid-list>
</div>