  <nav>
    <div class="nav-wrapper deep-purple" >
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <div style="padding-left: 20px;">
      	<span style="font-size: 180%;">
      		<span style="font-weight: bold;">{{ title_one | uppercase }}</span><span style="font-weight: lighter;">{{ title_two | uppercase }}</span>

      	</span>
      </div>
    </div>
  </nav>




<!-- <a routerLink="/dashboard">Dashboard</a> -->

<router-outlet></router-outlet>

<!-- <app-dashboard></app-dashboard> -->